USE [master]
GO
/****** Object:  Database [VENTAS]    Script Date: 9/10/2021 01:04:47 ******/
CREATE DATABASE [VENTAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VENTAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VENTAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VENTAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VENTAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VENTAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VENTAS]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 9/10/2021 01:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[Numero] [int] NULL,
	[Nombre] [char](30) NULL,
	[Direccion] [char](40) NULL,
	[Celular] [char](10) NULL,
	[Correo] [char](50) NULL,
	[Edad] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 9/10/2021 01:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[codpro] [int] NULL,
	[nompro] [nvarchar](50) NULL,
	[precio] [decimal](6, 2) NULL,
	[stock] [decimal](6, 2) NULL
) ON [PRIMARY]
GO
USE [master]
GO
