USE [master]
GO
/****** Object:  Database [SISTEMA ACADEMICO]    Script Date: 9/10/2021 01:04:00 ******/
CREATE DATABASE [SISTEMA ACADEMICO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SISTEMA ACADEMICO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SISTEMA ACADEMICO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SISTEMA ACADEMICO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SISTEMA ACADEMICO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SISTEMA ACADEMICO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SISTEMA ACADEMICO]
GO
/****** Object:  Table [dbo].[ALUMNO]    Script Date: 9/10/2021 01:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUMNO](
	[codalum] [varchar](50) NULL,
	[nomalum] [varchar](50) NULL,
	[diralum] [varchar](50) NULL,
	[DNIalum] [int] NULL,
	[carralum] [varchar](50) NULL,
	[telalum] [int] NULL,
	[fechalum] [date] NULL,
	[curalum] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CURSO]    Script Date: 9/10/2021 01:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURSO](
	[codcur] [varchar](50) NULL,
	[credcur] [int] NULL,
	[nomcur] [varchar](50) NULL,
	[semcur] [varchar](10) NULL,
	[Horario] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCENTE]    Script Date: 9/10/2021 01:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCENTE](
	[coddoc] [varchar](50) NULL,
	[nomdoc] [varchar](50) NULL,
	[catdoc] [varchar](50) NULL,
	[celdoc] [int] NULL,
	[fechadoc] [date] NULL,
	[DNIdoc] [int] NULL,
	[Curdoc] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORARIO]    Script Date: 9/10/2021 01:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIO](
	[Dia] [varchar](50) NULL,
	[Hora] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
